project:
  type: website
  output-dir: docs

website:
  title: "Data Wrangling Examples"
  navbar:
    background: primary
    left:
      - href: index.qmd
        text: "Home"
      - href: about.qmd
        text: "About"

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

